/* ==|== Mixins / variables =================================================
========================================================================== */ 
.drop-shadow(@x-axis: 0, @y-axis: 5px, @blur: 6px, @distance: 3px, @alpha: 0.18) {
  -webkit-box-shadow: @x-axis @y-axis @blur @distance rgba(0, 0, 0, @alpha);
  -moz-box-shadow: @x-axis @y-axis @blur @distance rgba(0, 0, 0, @alpha);
  box-shadow: @x-axis @y-axis @blur @distance rgba(0, 0, 0, @alpha);
}

.transition(@type: all, @duration: 0.2s, @easing: ease-in) {
	-webkit-transition: @type @duration @easing; 
		 -moz-transition: @type @duration @easing;
			-ms-transition: @type @duration @easing;
			 -o-transition: @type @duration @easing; 
}

.inset-shadow(@x-axis: 1px, @y-axis: 1px, @blur: 11px, @distance: 1px, @alpha: 0.15, @inset: inset) {
  -webkit-box-shadow: @x-axis @y-axis @blur @distance rgba(0, 0, 0, @alpha) @inset;
  -moz-box-shadow: @x-axis @y-axis @blur @distance rgba(0, 0, 0, @alpha) @inset;
  box-shadow: @x-axis @y-axis @blur @distance rgba(0, 0, 0, @alpha) @inset;
}

.text-shadow(@offset-x: 1px, @offset-y: 1px, @shadowColor: #2D5A75) {
  text-shadow: @offset-x, @offset-y, @shadowColor;  
}

.titleing() {
  color: #666;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 2.6em;
  margin: 0 0 2.6em;
  text-transform: uppercase;
  padding-left: 15.63%;
}

.border-box() {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

}

@black: #333;
@bdred: #AF4D2D;
@bdwhite: #FBFAF5;