/************************* My styles ***************************************/ 

/* ==|== Structure ==========================================================
========================================================================== */
body {
	font-size: 62.5%;
	height: 100%;
}

#wrapper {
  max-width: 860px;
  margin: 0 auto 4em;
  padding: 0 3%;
  /*background: url('img/legacy/red_perforated_bg.png') repeat-y top right transparent;*/
	position: relative;
	z-index: 0;
}

.multiplebgs #wrapper {
  background: 
    /*url('img/textures/bg_red_texture_tile.png') 0 0 repeat-y, 
    url('img/textures/bg_red_texture_tile.png') 100% 0 repeat-y;*/
}

.outer-wrap {
  max-width: 860px;
  margin: 0 auto;
  padding: 0 3% 15px;
}

.inner-wrap {
	padding: 0 20px 16.5em;
}

#page-outer {
	background: url('img/textures/redox.png') repeat;	
	.drop-shadow;
	position: relative;
	z-index:20;
}

#page {
  background: @bdwhite;
  max-width: 820px;
	min-height: 750px;
  margin: auto;
  position: relative;
}

.page_overlap {
  position: absolute;
  z-index:40;
  max-width: 94%;
}

.boxshadow {
	#page {
	.drop-shadow;
	z-index: 40;
	}
}

/*  =header */
#main-header {
	width: 100%;
	margin: 0 auto;
	position: relative;
	right: 3.7%;
	z-index: 60;
	/*background: url('img/textures/red_paper_texture.png') 0 0 repeat;*/
	padding: 5px 3.7% 10px;
	/*.drop-shadow(0,1px,11px, 2px, 0.35);*/
}

#top_nav_outer {
	background: @bdwhite;
	min-height: 95px;
	border-bottom: 1px dashed #DDD;
}

#logo {
  width: 140px;
  height: 137px;
	background: url('img/assets/new_sprite.png') 0 -12px no-repeat transparent;
	position: relative;
	bottom: 5px;
	right: -27px;
	float: left;
	z-index: 50;
}

#main_nav {
	float: left;
	width: 65%;
	margin-left: 9.4%;
	.transition();
	.menu {
		li {
			float: left;
			text-transform: uppercase;
			margin-right: 2%;
			font-size: 3em;
			padding: 1em 0;
			a {
				text-decoration: none;
				color: @black	;
				&:hover {
					color: @black;
					border-bottom: 4px solid @black;
				}
			}
			.current-menu-item {
				border-bottom: 4px solid @black;
			}
		}
	}
}

/* =Footer */
#colophon {
	position: absolute;
	left: -400%;
	bottom: -115px;
	z-index: 30;
	width: 900%;
	height: 345px;
	padding-bottom: 30px;
	background: url('img/textures/redox.png') 0 0 repeat;
	.drop-shadow(0px, 0px, 6px, 3px, 0.18);
	&>div {
		margin: 200px auto 0;
		width: 146px;
	}
	#site-generator {
		background: none;
		padding-top: 6em;
	}
}

#colophon {
	h3 {
		color: #FBFAF5;
		font-size: 2em;
		font-weight: bold;
		font-style: italic;
		position: absolute;
		top: 47%;
		right: 3%;
	}
	ul {
		padding: 0;
		list-style: none;
		list-style-position: inside;
		li {
			float: left;
			a {
				background: url('img/assets/new_sprite.png') 0 -38px no-repeat;
				width: 46px;
				height: 46px;
				margin-right: 2px;
				display: block;
				&:hover {
					background-position-y: 0; 
				}
			}
		}
	}
	.footer-mail-link {
		background: url('img/assets/new_sprite.png') -98px -270px no-repeat;
		display: block;
		margin: 0 auto;
		width: 75px;
		height: 75px;
		border-radius: 50%;		
		border: 7px solid #333;
		&:hover {
			border-color: #AF4D2D;
		}
	}
}

/* specific styles here for readability */
#colophon ul li a {
	&[href*="flickr"] {
		background-position: -100px -442px;
		&:hover {
			background-position-y: -394px;
		}
	}
	&[href*="twitter"] {
		background-position: -50px -442px;
		&:hover {
			background-position-y: -394px;
		}
	}
	&[href*="linkedin"] {
		background-position: -2px -442px;
		&:hover {
			background-position-y: -394px;
		}
	}		
}

/* =Content */
#content {
	width: 94%;
	margin: 0 3%;
	padding-top: 4em;
}

.entry-header {
	margin-bottom: 3em;
}

.entry-header,
.entry-content,
.entry-meta {
	.transition();
}


.entry-meta {
	float: left;
	clear: none;
	width: 20%;
	text-align: center;
	font-size: 1.6em;
	span {
		display: block;
		font-style: italic;
	}
	a {
		font-style: normal;
		font-weight: normal;
		font-size: inherit;
	}
	.pub_date,
	.category_count {
    margin-top: -64px;
		span {
			display: block;
			font-style : normal;
		}
    a, p {
      text-align: center;
      line-height: 1;
      /*color: @black;*/
      .transition();  
      text-decoration: none;
      :hover {
        text-decoration: none;
      }
    }
  }
	.category_count p {
		margin-left: 15%;
	}
}

.entry-title {
	padding-top: 0;
	margin-left: 25%;
	font-size: 4em;
	border-bottom: 4px solid @black;
	padding-bottom: 0;
	line-height: normal;
	text-transform: uppercase;
	color: @black;
	font-weight: normal;
	a {
		text-transform: uppercase;
		color: @black;
		font-weight: normal;
		.transition(color, 0.2s);
		&:hover, 
		&:active {
		  color: @bdred;
		}
	}	
}

.entry-content {
	float: right;
	width: 75%;
	padding: 0;
}

.hentry, .no-results {
	border-bottom: 1px dashed #DDD;
}

/* =sidebar */
#main-aside {
  width: 162px;
	position: absolute;
	right: -140px;
	top: -50%;
	z-index: 30;
	.transition();
	&:after {
	  content: url('img/assets/banner_points.png') no-repeat 0 0 transparent;
	  position: relative;
    top: 2px;
	}
}                   

#archives {
	background: url('img/assets/banner_strip.png') repeat-y 0 0 transparent;
	padding: 11.5em 0 3em;
	text-align: center;
	margin-bottom: -2px;
	ul {
		list-style: none;
		padding-left: 0;
		li {
		  a {
		    font-size: 1.2em;
		    color: @black;
		  }
		}
	}
}

.data-toggle {
  /*background: url('http://bd.local/wp-content/themes/bd_2012/img/assets/sprite.png') -147px -45px no-repeat;*/
  /*display: none;*/
  /*visibility: hidden;*/
  width: 163px;
  height: 47px;
  color: @bdwhite;
  font-size: 2em;
  font-weight: bold;
  font-style: italic;
  padding-left: 45px;
  position: absolute;
  right: -38px;
  top: 88px;
  z-index: 60;
  line-height: 1.9;
  cursor: pointer;
  &:hover {
    color: @bdwhite;
  }
}

.widget-title {
  color: @bdwhite;
  font-size: 2em;
  letter-spacing: 0.18em;
  text-shadow: 1px 1px #2D5A75, 2px 2px #2D5A75, 3px 3px #2D5A75
} 

/* =Single */
.singular {
	#content {
		margin: 0 3%;
		position: inherit;
		padding-top: 0;
	}
	.entry-header, 
	.entry-content,
	footer.entry-meta,
	.entry-header {
		margin: 0 0 1.5em 25%;
	}
	.entry-title {
		margin-left: 0;
		font-weight: normal;
		font-size: 4em;
	}
	.entry-content {
		float: none;
	}
  .entry-meta {
    .pub_date {
    	display: inline;
      a {
        color: @black;
      }
    } 
  }
	footer.entry-meta {
		float: none;
		text-align: left;
		margin-bottom: 1%;
		span {
			display: inline;
		}
	}
	.summary-thought {
		clear: both;
		text-align: right;		
		.titleing;
	}
	.hentry {
		padding: 0;
	}
	#nav-single {
	  position: inherit;
	  width: 100%;
    z-index: 35;
	  .transition();
	  span {
	    position: absolute;
	    top: 205px;
      .transition();
	    a {
	      background: url('img/assets/sprite.png');
	      display: block;
	      width: 50px;
	      height: 86px;
	      text-indent: -9999em;
      }
	    &.nav-next {
	      right: -33px;
	      &:hover {
	        right: -38px;
	      }
	      a {
	        background-position: -209px -94px;
	      }
	    }
	    &.nav-previous {
	      left: -34px;
	      &:hover {
	        left: -39px
	      }
	      a {
	        background-position: -144px -87px;
	        display: block;
	      }
	    }
	  }
	}
}

/* code samples */
pre.prettyprint {
  .inset-shadow();
} 
 
/* category page */



/* =about page */
#profile-image {
	width: 20%;
	float: left;
	text-align: center;
	&>div {

	}
	img {
		border: 4px solid #B33309;
	}
}                    

#bio {
	float: right;
	width: 75%;
	padding: 0;
}
